<!-- introduction modal for the mood-selector -->
<div class="modal-inner-wrapper">
  <div class="header">
    <h2>Welcome to Team Mood</h2>
    <h3>Slide to tell us your mood</h3>
    <!-- list with all moods -->
    <div class="feelings">
      <div class="v-happy">Very Happy</div>
      <div class="happy">Happy</div>
      <div class="neutral">Neutral</div>
      <div class="sad">Sad</div>
      <div class="v-sad">Very Sad</div>
      <div class="mic">or just tap to speak</div>
    </div>
  </div>

  <!-- dismiss button -->
  <button ion-button outline round color="light" (click)="dismiss()">Got it</button>
</div>
