feel-selector {
  display: block;
  max-width: 400px;
  margin: 0 auto;

  .wrapper {
    width: 100%;
    padding-top: 100%;

    position: relative;
    background: #38434f;
    border-radius: 50%;
    transition: background .15s ease;
  }

  // the main Ox axis, used as reference in js
  .ox-axis {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
  }

  // icon to allow user to express through audio input
  .select-audio {
    position: absolute;
    bottom: 9.1%;
    left: 50%;
    transform: translateX(-50%);
  }

  // the inner dark-transparent circle within the main wrapper
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(black, .1);

    width: 40.52%;
    padding-top: 40.52%;

    border-radius: 50%;
    transition: .15s ease;
  }

  // the running-track for the handler element
  .track {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 0;
    width: 50%;
    transform: rotate(0deg);
    transform-origin: 0 0;
  }

  // wrapper for the feels options
  .options-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
  }

  // a feel option: dashed line + the circle with the feel color
  .option {
    border: 0 dashed rgba(255, 255, 255, .1);
    border-top-width: 1px;

    position: absolute;
    width: 100%;
    transform-origin: 0 0;

    .dot {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);

      width: 13.01%;
      padding-top: 13.01%;

      background: currentColor;
      border-radius: 100%;
      transition: .15s ease;
    }

    // colorize each dot according to the feel color
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transform: rotate((-180 + 45 * ($i - 1))*1deg);
      }
    }
  }

  // make the inner dark-transparent circle smaller when user drags the handler
  .wrapper[data-selected] {
    .inner {
      width: 10%;
      padding-top: 10%;
    }

    .select-audio {
      display: none;
    }
  }

  // hide the inner dark-transparent circle when user selected an option
  .wrapper[data-confirmed] {
    .inner {
      display: none;
    }
  }

  // define how the main wrapper should look like when a certain feel is selected
  @each $opt in $moods {
    .wrapper[data-selected="#{$opt}"] {
      // change to feel color - half transparent
      background-color: rgba(color($colors, $opt), .5);

      // make other dots smaller
      .option:not([data-mood="#{$opt}"]) {
        border-top-color: transparent;

        .dot {
          width: 7.063%;
          padding-top: 7.063%;
        }
      }

      // when user confirmed/selected that feel, customize the wrapper
      &[data-confirmed] {
        // change to full feel color (no transparency)
        background-color: color($colors, $opt);

        .option {
          border-top-color: transparent;

          // hide all dots
          .dot {
            display: none;
          }
        }

        // show text with the selected feel
        &:after {
          content: attr(data-selected);
          color: white;
          font-family: $main-font;
          font-size: 24px;
          white-space: nowrap;
          text-transform: capitalize;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // customize the range input to look like the white dot
  // that lets user to drag to select mood
  .slider {
    -webkit-appearance: none;

    width: 100%;
    height: 60px;
    transform: translate(0, -50%);
    transform-origin: 0 0;
    background: transparent;

    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
      appearance: none;

      width: 2px;
      padding-top: 2px;
      border-radius: 50%;
      border: none;
      box-shadow: 0 0 0 30px white;

      background: white;
      cursor: pointer;

      &:hover {
        background: white;
      }
    }

    &:active::-webkit-slider-thumb {
      background: white;
    }

    &.init {
      width: calc(100% + 60px);
      transform: translate(-30px, -50%);

      &::-webkit-slider-thumb {
        width: 60px;
        padding-top: 60px;
        box-shadow: 0 0 0 0 white;
      }
    }
  }
}
